<!DOCTYPE html>
<html>
<head>
    <title>CodeSampling | {% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'templates/partials/messages.twig' %}
    {% include 'templates/partials/navigation_admin.twig' %}
    {% block content %}{% endblock %}
</body>
</html>